@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
 background-color: #FDF4E7;
}

.font-inter {
 font-family: 'Inter', sans-serif;
}

.font-righteous {
 font-family: 'Righteous', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
 font-family: 'Righteous', cursive !important;
}

p,
.lead,
input[placeholder],
.form-check-label {
 font-family: 'Inter', sans-serif !important;
 margin-left: 7px;
}

.form-group .form-control,
.form-select,
.retro-input,
.form-floating .form-control:not(.is-invalid) {
 border-radius: 0.375rem;
 border: 2px solid #111;
 box-shadow: 10px 10px 0px -5px #333430;
 -webkit-box-shadow: 10px 10px 0px -5px #333430;
 -moz-box-shadow: 10px 10px 0px -5px #333430;
}

.input-group .form-control,
.input-group-text {
 border-radius: 0.375rem;
 border: 2px solid #111;
 border-radius: 0.375rem;
 box-shadow: 10px 10px 0px -5px #333430;
 -webkit-box-shadow: 10px 10px 0px -5px #333430;
 -moz-box-shadow: 10px 10px 0px -5px #333430;
}

.input-group .form-control:focus {
 box-shadow: none;
 outline: 4px solid #86b6febb;
 border: 2px solid #85B7FD;
}

input[placeholder] {
 font-size: 14px;
 color: #1f1f1f;
}

.form-control.is-invalid,
.form-select.is-invalid,
.was-validated .form-control,
.was-validated .form-select {
 border: 2px solid #f00;
 box-shadow: 10px 10px 0px -5px #f00;
 -webkit-box-shadow: 10px 10px 0px -5px #f00;
 -moz-box-shadow: 10px 10px 0px -5px #f00;
}

.form-control.is-valid,
.form-select.is-valid {
 border: 2px solid rgb(25, 135, 84);
 box-shadow: 10px 10px 0px -5px rgb(25, 135, 84);
 -webkit-box-shadow: 10px 10px 0px -5px rgb(25, 135, 84);
 -moz-box-shadow: 10px 10px 0px -5px rgb(25, 135, 84);
}

.input-group-text,
.form-control,
.form-floating,
.btn {
 z-index: 9 !important;
}

.accordion {
 --bs-accordion-color: var(--bs-body-color);
 --bs-accordion-bg: #fff;
 --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
 --bs-accordion-border-color: #111;
 --bs-accordion-border-width: 3px;
 --bs-accordion-border-radius: 0.375rem;
 --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
 --bs-accordion-btn-padding-x: 1.25rem;
 --bs-accordion-btn-padding-y: 1rem;
 --bs-accordion-btn-color: var(--bs-body-color);
 --bs-accordion-btn-bg: var(--bs-accordion-bg);
 --bs-accordion-btn-icon-width: 1.25rem;
 --bs-accordion-btn-icon-transform: rotate(-180deg);
 --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
 --bs-accordion-btn-focus-border-color: #fff;
 --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
 --bs-accordion-body-padding-x: 1.25rem;
 --bs-accordion-body-padding-y: 1rem;
 --bs-accordion-active-color: #0c63e4;
 --bs-accordion-active-bg: #e7f1ff;
}

.accordion {
 box-shadow: 10px 10px 0px -5px #333430;
 -webkit-box-shadow: 10px 10px 0px -5px #333430;
 -moz-box-shadow: 10px 10px 0px -5px #333430;
}

.alert {
 --bs-alert-padding-x: 10px;
 --bs-alert-padding-y: 5px
}

.alert.alert-primary {
 border: 2px solid #0c63e4;
 font-family: 'Inter', sans-serif;
 --bs-alert-color: #084298;
 --bs-alert-bg: #cce0fd;
 --bs-alert-border-color: #b6d4fe;
}

.alert.alert-secondary {
 border: 2px solid #2e2f30;
 font-family: 'Inter', sans-serif;
 --bs-alert-color: #5b6269;
 --bs-alert-bg: #e2e3e5;
 --bs-alert-border-color: #d3d6d8;
}

.alert.alert-success {
 border: 2px solid #0b874d;
 font-family: 'Inter', sans-serif;
 --bs-alert-color: #0f5132;
 --bs-alert-bg: #b4e7d0;
 --bs-alert-border-color: #badbcc;
}

.alert.alert-danger {
 border: 2px solid #842029;
 font-family: 'Inter', sans-serif;
 --bs-alert-color: #842029;
 --bs-alert-bg: #eeced0;
 --bs-alert-border-color: #f5c2c7;
}

.alert.alert-warning {
 border: 2px solid #e5bd45;
 font-family: 'Inter', sans-serif;
 --bs-alert-color: #664d03;
 --bs-alert-bg: #eedb9b;
 --bs-alert-border-color: #ffecb5;
}

.alert.alert-info {
 border: 2px solid #189fb9;
 font-family: 'Inter', sans-serif;
 --bs-alert-color: #055160;
 --bs-alert-bg: #cff4fc;
 --bs-alert-border-color: #b6effb;
}

.alert.alert-light {
 border: 2px solid #636464;
 font-family: 'Inter', sans-serif;
 --bs-alert-color: #636464;
 --bs-alert-bg: #fefefe;
 --bs-alert-border-color: #fdfdfe;
}

.alert.alert-dark {
 border: 2px solid #111;
 font-family: 'Inter', sans-serif;
 --bs-alert-color: #fff;
 --bs-alert-bg: #111;
 --bs-alert-border-color: #bcbebf;
}

.alert.alert-dark a {
 color: #fff !important;
}

.alert-dismissible .btn-close {
 position: absolute;
 top: 0;
 right: 0;
 z-index: 2;
 padding: 10px 1rem;
}

.badge {
 border-radius: 0;
}

.text-bg-primary {
 color: #0c63e4 !important;
 border: 2px solid #0c63e4;
 background-color: #b6d4fe !important;
 box-shadow: 3px 3px 0px 0px #0c63e4;
 -webkit-box-shadow: 3px 3px 0px 0px #0c63e4;
 -moz-box-shadow: 3px 3px 0px 0px #0c63e4;
}

.text-bg-secondary {
 color: #2e2f30 !important;
 border: 2px solid #2e2f30;
 background-color: #e2e3e5 !important;
 box-shadow: 3px 3px 0px 0px #2e2f30;
 -webkit-box-shadow: 3px 3px 0px 0px #2e2f30;
 -moz-box-shadow: 3px 3px 0px 0px #2e2f30;
}

.text-bg-success {
 color: #0f5132 !important;
 border: 2px solid #0f5132;
 background-color: #b4e7d0 !important;
 box-shadow: 3px 3px 0px 0px #0f5132;
 -webkit-box-shadow: 3px 3px 0px 0px #0f5132;
 -moz-box-shadow: 3px 3px 0px 0px #0f5132;
}

.text-bg-danger {
 color: #842029 !important;
 border: 2px solid #842029;
 background-color: #eeced0 !important;
 box-shadow: 3px 3px 0px 0px #842029;
 -webkit-box-shadow: 3px 3px 0px 0px #842029;
 -moz-box-shadow: 3px 3px 0px 0px #842029;
}

.text-bg-warning {
 color: #664d03 !important;
 border: 2px solid #664d03;
 background-color: #eedb9b !important;
 box-shadow: 3px 3px 0px 0px #664d03;
 -webkit-box-shadow: 3px 3px 0px 0px #664d03;
 -moz-box-shadow: 3px 3px 0px 0px #664d03;
}

.text-bg-info {
 color: #055160 !important;
 border: 2px solid #055160;
 background-color: #cff4fc !important;
 box-shadow: 3px 3px 0px 0px #055160;
 -webkit-box-shadow: 3px 3px 0px 0px #055160;
 -moz-box-shadow: 3px 3px 0px 0px #055160;
}

.text-bg-light {
 color: #636464 !important;
 border: 2px solid #636464;
 background-color: #fefefe !important;
 box-shadow: 3px 3px 0px 0px #636464;
 -webkit-box-shadow: 3px 3px 0px 0px #636464;
 -moz-box-shadow: 3px 3px 0px 0px #636464;
}

.text-bg-dark {
 color: #fff !important;
 border: 2px solid #111;
 background-color: #111 !important;
 box-shadow: 3px 3px 0px 0px #bcbebf;
 -webkit-box-shadow: 3px 3px 0px 0px #bcbebf;
 -moz-box-shadow: 3px 3px 0px 0px #bcbebf;
}

.btn-primary {
 color: #0c63e4 !important;
 border: 2px solid #0c63e4;
 background-color: #b6d4fe !important;
 box-shadow: 3px 3px 0px 0px #0c63e4;
 -webkit-box-shadow: 3px 3px 0px 0px #0c63e4;
 -moz-box-shadow: 3px 3px 0px 0px #0c63e4;
 transition: .2s;
}

.btn-primary.active {
 color: #b6d4fe !important;
 border: 2px solid #0c63e4;
 background-color: #0c63e4 !important;
 box-shadow: 3px 3px 0px 0px #0c63e4;
 -webkit-box-shadow: 3px 3px 0px 0px #0c63e4;
 -moz-box-shadow: 3px 3px 0px 0px #0c63e4;
 transition: .2s;
}

.btn-primary:hover {
 opacity: .5;
}

.btn-secondary {
 color: #2e2f30 !important;
 border: 2px solid #2e2f30;
 background-color: #e2e3e5 !important;
 box-shadow: 3px 3px 0px 0px #2e2f30;
 -webkit-box-shadow: 3px 3px 0px 0px #2e2f30;
 -moz-box-shadow: 3px 3px 0px 0px #2e2f30;
 transition: .2s;
}

.btn-secondary.active {
 color: #e2e3e5 !important;
 border: 2px solid #2e2f30;
 background-color: #2e2f30 !important;
 box-shadow: 3px 3px 0px 0px #2e2f30;
 -webkit-box-shadow: 3px 3px 0px 0px #2e2f30;
 -moz-box-shadow: 3px 3px 0px 0px #2e2f30;
 transition: .2s;
}

.btn-secondary:hover {
 opacity: .5;
}

.btn-success {
 color: #0f5132 !important;
 border: 2px solid #0f5132;
 background-color: #b4e7d0 !important;
 box-shadow: 3px 3px 0px 0px #0f5132;
 -webkit-box-shadow: 3px 3px 0px 0px #0f5132;
 -moz-box-shadow: 3px 3px 0px 0px #0f5132;
 transition: .2s;
}

.btn-success.active {
 color: #b4e7d0 !important;
 border: 2px solid #0f5132;
 background-color: #0f5132 !important;
 box-shadow: 3px 3px 0px 0px #0f5132;
 -webkit-box-shadow: 3px 3px 0px 0px #0f5132;
 -moz-box-shadow: 3px 3px 0px 0px #0f5132;
 transition: .2s;
}

.btn-success:hover {
 opacity: .5;
}

.btn-danger {
 color: #842029 !important;
 border: 2px solid #842029;
 background-color: #eeced0 !important;
 box-shadow: 3px 3px 0px 0px #842029;
 -webkit-box-shadow: 3px 3px 0px 0px #842029;
 -moz-box-shadow: 3px 3px 0px 0px #842029;
 transition: .2s;
}

.btn-danger.active {
 color: #eeced0 !important;
 border: 2px solid #842029;
 background-color: #842029 !important;
 box-shadow: 3px 3px 0px 0px #842029;
 -webkit-box-shadow: 3px 3px 0px 0px #842029;
 -moz-box-shadow: 3px 3px 0px 0px #842029;
 transition: .2s;
}

.btn-danger:hover {
 opacity: .5;
}

.btn-warning {
 color: #664d03 !important;
 border: 2px solid #664d03;
 background-color: #eedb9b !important;
 box-shadow: 3px 3px 0px 0px #664d03;
 -webkit-box-shadow: 3px 3px 0px 0px #664d03;
 -moz-box-shadow: 3px 3px 0px 0px #664d03;
 transition: .2s;
}

.btn-warning.active {
 color: #eedb9b !important;
 border: 2px solid #664d03;
 background-color: #664d03 !important;
 box-shadow: 3px 3px 0px 0px #664d03;
 -webkit-box-shadow: 3px 3px 0px 0px #664d03;
 -moz-box-shadow: 3px 3px 0px 0px #664d03;
 transition: .2s;
}

.btn-warning:hover {
 opacity: .5;
}

.btn-info {
 color: #055160 !important;
 border: 2px solid #055160;
 background-color: #cff4fc !important;
 box-shadow: 3px 3px 0px 0px #055160;
 -webkit-box-shadow: 3px 3px 0px 0px #055160;
 -moz-box-shadow: 3px 3px 0px 0px #055160;
 transition: .2s;
}

.btn-info.active {
 color: #cff4fc !important;
 border: 2px solid #055160;
 background-color: #055160 !important;
 box-shadow: 3px 3px 0px 0px #055160;
 -webkit-box-shadow: 3px 3px 0px 0px #055160;
 -moz-box-shadow: 3px 3px 0px 0px #055160;
 transition: .2s;
}

.btn-info:hover {
 opacity: .5;
}

.btn-light {
 color: #636464 !important;
 border: 2px solid #636464;
 background-color: #fefefe !important;
 box-shadow: 3px 3px 0px 0px #636464;
 -webkit-box-shadow: 3px 3px 0px 0px #636464;
 -moz-box-shadow: 3px 3px 0px 0px #636464;
 transition: .2s;
}

.btn-light.active {
 color: #fefefe !important;
 border: 2px solid #636464;
 background-color: #636464 !important;
 box-shadow: 3px 3px 0px 0px #636464;
 -webkit-box-shadow: 3px 3px 0px 0px #636464;
 -moz-box-shadow: 3px 3px 0px 0px #636464;
 transition: .2s;
}

.btn-light:hover {
 opacity: .5;
}

.btn-dark {
 color: #fff !important;
 border: 2px solid #111;
 background-color: #111 !important;
 box-shadow: 3px 3px 0px 0px #bcbebf;
 -webkit-box-shadow: 3px 3px 0px 0px #bcbebf;
 -moz-box-shadow: 3px 3px 0px 0px #bcbebf;
 transition: .2s;
}

.btn-dark {
 color: #111 !important;
 border: 2px solid #111;
 background-color: #fff !important;
 box-shadow: 3px 3px 0px 0px #bcbebf;
 -webkit-box-shadow: 3px 3px 0px 0px #bcbebf;
 -moz-box-shadow: 3px 3px 0px 0px #bcbebf;
 transition: .2s;
}

.btn-dark:hover {
 opacity: .5;
}

.btn-outline-primary {
 color: #0c63e4 !important;
 border: 2px solid #0c63e4;
 /* background-color: #b6d4fe !important; */
 box-shadow: 3px 3px 0px 0px #0c63e4;
 -webkit-box-shadow: 3px 3px 0px 0px #0c63e4;
 -moz-box-shadow: 3px 3px 0px 0px #0c63e4;
 transition: .2s;
}

.btn-outline-primary:hover {
 color: #0c63e4 !important;
 border: 2px solid #0c63e4;
 background-color: #b6d4fe !important;
 box-shadow: 3px 3px 0px 0px #0c63e4;
 -webkit-box-shadow: 3px 3px 0px 0px #0c63e4;
 -moz-box-shadow: 3px 3px 0px 0px #0c63e4;
 transition: .2s;
}

.btn-outline-secondary {
 color: #2e2f30 !important;
 border: 2px solid #2e2f30;
 /* background-color: #e2e3e5 !important; */
 box-shadow: 3px 3px 0px 0px #2e2f30;
 -webkit-box-shadow: 3px 3px 0px 0px #2e2f30;
 -moz-box-shadow: 3px 3px 0px 0px #2e2f30;
 transition: .2s;
}

.btn-outline-secondary:hover {
 color: #2e2f30 !important;
 border: 2px solid #2e2f30;
 background-color: #e2e3e5 !important;
 box-shadow: 3px 3px 0px 0px #2e2f30;
 -webkit-box-shadow: 3px 3px 0px 0px #2e2f30;
 -moz-box-shadow: 3px 3px 0px 0px #2e2f30;
 transition: .2s;
}

.btn-outline-success {
 color: #0f5132 !important;
 border: 2px solid #0f5132;
 background-color: #b4e7d0 !important;
 box-shadow: 3px 3px 0px 0px #0f5132;
 -webkit-box-shadow: 3px 3px 0px 0px #0f5132;
 -moz-box-shadow: 3px 3px 0px 0px #0f5132;
 transition: .2s;
}

.btn-outline-success:hover {
 color: #0f5132 !important;
 border: 2px solid #0f5132;
 background-color: #b4e7d0 !important;
 box-shadow: 3px 3px 0px 0px #0f5132;
 -webkit-box-shadow: 3px 3px 0px 0px #0f5132;
 -moz-box-shadow: 3px 3px 0px 0px #0f5132;
 transition: .2s;
}

.btn-outline-danger {
 color: #842029 !important;
 border: 2px solid #842029;
 /* background-color: #eeced0 !important; */
 box-shadow: 3px 3px 0px 0px #842029;
 -webkit-box-shadow: 3px 3px 0px 0px #842029;
 -moz-box-shadow: 3px 3px 0px 0px #842029;
 transition: .2s;
}

.btn-outline-danger:hover {
 color: #842029 !important;
 border: 2px solid #842029;
 /* background-color: #eeced0 !important; */
 box-shadow: 3px 3px 0px 0px #842029;
 -webkit-box-shadow: 3px 3px 0px 0px #842029;
 -moz-box-shadow: 3px 3px 0px 0px #842029;
 transition: .2s;
}

.btn-outline-warning {
 color: #664d03 !important;
 border: 2px solid #664d03;
 background-color: #eedb9b !important;
 box-shadow: 3px 3px 0px 0px #664d03;
 -webkit-box-shadow: 3px 3px 0px 0px #664d03;
 -moz-box-shadow: 3px 3px 0px 0px #664d03;
 transition: .2s;
}

.btn-outline-warning:hover {
 color: #664d03 !important;
 border: 2px solid #664d03;
 background-color: #eedb9b !important;
 box-shadow: 3px 3px 0px 0px #664d03;
 -webkit-box-shadow: 3px 3px 0px 0px #664d03;
 -moz-box-shadow: 3px 3px 0px 0px #664d03;
 transition: .2s;
}

.btn-outline-info {
 color: #055160 !important;
 border: 2px solid #055160;
 background-color: #cff4fc !important;
 box-shadow: 3px 3px 0px 0px #055160;
 -webkit-box-shadow: 3px 3px 0px 0px #055160;
 -moz-box-shadow: 3px 3px 0px 0px #055160;
 transition: .2s;
}

.btn-outline-info:hover {
 color: #055160 !important;
 border: 2px solid #055160;
 background-color: #cff4fc !important;
 box-shadow: 3px 3px 0px 0px #055160;
 -webkit-box-shadow: 3px 3px 0px 0px #055160;
 -moz-box-shadow: 3px 3px 0px 0px #055160;
 transition: .2s;
}

.btn-outline-light {
 color: #636464 !important;
 border: 2px solid #636464;
 background-color: #fefefe !important;
 box-shadow: 3px 3px 0px 0px #636464;
 -webkit-box-shadow: 3px 3px 0px 0px #636464;
 -moz-box-shadow: 3px 3px 0px 0px #636464;
 transition: .2s;
}

.btn-outline-light:hover {
 color: #636464 !important;
 border: 2px solid #636464;
 background-color: #fefefe !important;
 box-shadow: 3px 3px 0px 0px #636464;
 -webkit-box-shadow: 3px 3px 0px 0px #636464;
 -moz-box-shadow: 3px 3px 0px 0px #636464;
 transition: .2s;
}

.btn-outline-dark {
 color: #fff !important;
 border: 2px solid #111;
 background-color: #111 !important;
 box-shadow: 3px 3px 0px 0px #111;
 -webkit-box-shadow: 3px 3px 0px 0px #111;
 -moz-box-shadow: 3px 3px 0px 0px #111;
 transition: .2s;
}

.btn-outline-dark:hover {
 color: #fff !important;
 border: 2px solid #111;
 background-color: #111 !important;
 box-shadow: 3px 3px 0px 0px #636464;
 -webkit-box-shadow: 3px 3px 0px 0px #636464;
 -moz-box-shadow: 3px 3px 0px 0px #636464;
 transition: .2s;
}

.card {
 border: 3px solid #111;
 box-shadow: 8px 8px 0px 0px #636464;
 -webkit-box-shadow: 8px 8px 0px 0px #636464;
 -moz-box-shadow: 8px 8px 0px 0px #636464;
}

.list-group-flush>.list-group-item {
 border-width: 0 0 2px;
 border-color: #111;
}

.list-group-item.active p {
 color: #fff;
}

.card-header:not(.card-header-navigation) {
 padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
 margin-bottom: 0;
 color: #111;
 background-color: #eaeaea;
 border-bottom: 3px solid #111;
}

.card-footer {
 padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
 margin-bottom: 0;
 color: #111;
 background-color: #eaeaea;
 border-top: 3px solid #111;
}

.img-thumbnail {
 padding: 0.25rem;
 background-color: #fff;
 border: 2px solid #111;
 border-radius: 0.375rem;
 max-width: 100%;
 height: auto;
}

.form-check-input[type=checkbox]:not([role=switch]) {
 border-radius: 0px;
 width: 25px;
 height: 25px;
}

.form-check-input[type=checkbox][role=switch] {
 border-radius: 0px;
 height: 25px;
 width: 40px;
}

.form-check-input[type=radio] {
 width: 25px;
 height: 25px;
}

.form-check-reverse label {
 margin-right: 7px;
}

.form-check-input[type=checkbox]:checked {
 border-radius: 0px;
 border: 2px solid #b6d4fe;
 background-color: #0c63e4;
}

.form-check-input[type=radio]:checked {
 border: 2px solid #b6d4fe;
 background-color: #0c63e4;
}

.form-check-label {
 margin-top: 8px;
}

input[type=range] {
 -webkit-appearance: none;
 margin: 18px 0;
 width: 100%;
}

input[type=range]:focus {
 outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
 width: 100%;
 height: 12px;
 cursor: pointer;
 background: #DEE2E6;
 border-radius: 20px;
 border: 2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
 box-shadow: 3px 3px 0px 0px #636464;
 -webkit-box-shadow: 3px 3px 0px 0px #636464;
 -moz-box-shadow: 3px 3px 0px 0px #636464;
 border: 2px solid #000000;
 height: 36px;
 width: 16px;
 border-radius: 10px;
 background: #60a0f8;
 cursor: pointer;
 -webkit-appearance: none;
 margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
 background: #367ebd;
}

input[type=range]::-moz-range-track {
 width: 100%;
 height: 8.4px;
 cursor: pointer;
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 background: #3071a9;
 border-radius: 1.3px;
 border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 border: 1px solid #000000;
 height: 36px;
 width: 16px;
 border-radius: 3px;
 background: #ffffff;
 cursor: pointer;
}

input[type=range]::-ms-track {
 width: 100%;
 height: 8.4px;
 cursor: pointer;
 background: transparent;
 border-color: transparent;
 border-width: 16px 0;
 color: transparent;
}

input[type=range]::-ms-fill-lower {
 background: #2a6495;
 border: 0.2px solid #010101;
 border-radius: 2.6px;
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
 background: #3071a9;
 border: 0.2px solid #010101;
 border-radius: 2.6px;
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 border: 1px solid #000000;
 height: 36px;
 width: 16px;
 border-radius: 3px;
 background: #ffffff;
 cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
 background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
 background: #367ebd;
}

article.content-astro>section :is(ul.nav, ol.nav, ul.list-group, ol.list-group, ul.list-group)>*+* {
 margin-top: 0px;
}

.table>:not(caption)>*>* {
 padding: 0.5rem 0.5rem;
 background-color: var(--bs-table-bg);
 border-bottom-width: 2px;
}

.table thead {
 font-family: 'Righteous', cursive;
}

.table {
 border: 2px solid #111;
 box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
 box-shadow: 5px 5px 0px 0px #c2c2c2;
 -webkit-box-shadow: 5px 5px 0px 0px #c2c2c2;
 -moz-box-shadow: 5px 5px 0px 0px #c2c2c2;
}

.list-group button {
 border-radius: inherit;
}

.list-group-item {
 position: relative;
 display: block;
 padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
 color: var(--bs-list-group-color);
 text-decoration: none;
 background-color: var(--bs-list-group-bg);
 border: 2px solid #111;
 box-shadow: 5px 5px 0px 0px #c2c2c2;
 -webkit-box-shadow: 5px 5px 0px 0px #c2c2c2;
 -moz-box-shadow: 5px 5px 0px 0px #c2c2c2;
}

.modal-content {
 border: 4px solid #111;
 box-shadow: 5px 5px 0px 0px #c2c2c2;
 -webkit-box-shadow: 5px 5px 0px 0px #c2c2c2;
 -moz-box-shadow: 5px 5px 0px 0px #c2c2c2;
}

.modal-header {
 border-bottom: 2px solid #111;
}

.modal-footer {
 border-top: 2px solid #111;
}

.navbar {
 border: 2px solid #111;
 padding-bottom: 11px;
}

/* .nav-tabs .nav-link {
 margin-bottom: calc(-1 * 2px);
 background: 0 0;
 border-top-left-radius: var(--bs-nav-tabs-border-radius);
 border-top-right-radius: var(--bs-nav-tabs-border-radius);
 border: 2px solid rgb(218, 218, 218);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
 color: #111;
 background-color: var(--bs-nav-tabs-link-active-bg);
 border-color: #111;
} */
.nav-tabs .nav-item.show .nav-link, .nav-item .nav-link.active, .nav-pills .nav-link.active, .nav-tabs .nav-link.active {
 color: #fff;
 background-color: #111;
 border-color: #111;
 border-radius: 0;
}
.nav-tabs {
 --bs-nav-tabs-border-width: 3px;
 --bs-nav-tabs-border-color: #111;
 --bs-nav-tabs-border-radius: 0.375rem;
 --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
 --bs-nav-tabs-link-active-color: #495057;
 --bs-nav-tabs-link-active-bg: #fff;
 --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
 border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}
.offcanvas{
 margin-top: 0 !important;
}
ul.pagination li a, ul.pagination li span{
 border-radius: 0px !important;
 box-shadow: 4px 4px 0px 0px #c2c2c2;
 -webkit-box-shadow: 4px 4px 0px 0px #c2c2c2;
 -moz-box-shadow: 4px 4px 0px 0px #c2c2c2;
 border: 2px solid #111;
}
ul.pagination li.active a, ul.pagination li.active span{
 border-radius: 0px !important;
 box-shadow: 4px 4px 0px 0px #111;
 -webkit-box-shadow: 4px 4px 0px 0px #111;
 -moz-box-shadow: 4px 4px 0px 0px #111;
 border: 2px solid #111;
}
.placeholder {
 display: inline-block;
 min-height: 1em;
 vertical-align: middle;
 cursor: wait;
 background-color: #111;
 opacity: .5;
}
.progress{
 border-radius: 0;
 border: 2px solid #111;
 box-shadow: 4px 4px 0px 0px #c2c2c2;
 -webkit-box-shadow: 4px 4px 0px 0px #c2c2c2;
 -moz-box-shadow: 4px 4px 0px 0px #c2c2c2;
}